<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>batman</title>
  <style>
    main {
      height: 100vh;
      width: 100vw;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    img {
      width: 25vw;
      max-width: 100%;
    }
  </style>
</head>
<body>
  <main>
    <img src="/images/batman.jpeg" alt="">
    <audio controls id="batman">
      <source src="/images/batman.mp3" type="audio/mpeg">
    </audio>
  </main>
</body>
</html>
